# KELAS PAGI

In [1]:
# Single word
print('hello')
print() # Used to have a line space between two sentences. Try deleting this line & seeing the difference.
# Entire phrase 
print('This is also a string')

hello

This is also a string

# STRING

## STRING INDEX

In [26]:
# Assign s as a string
s = 'Hello Dina'
# Print the object
print(s) 
print() 
# Show first element (in this case a letter)
print(s[0])
print()
# Show the second element (also a letter)
print(s[1])

Hello Dina

H

e

## STRING CONCATENATION AND REPETITION

In [3]:
# concatenation (addition)
s1 = 'Hello'
s2 = "World"
print(s1 + " " + s2)

Hello World

In [28]:
# repetition (multiplication)
print("Hello_" * 5)
print("-" * 100)

Hello_Hello_Hello_Hello_Hello_
----------------------------------------------------------------------------------------------------

## STRING SLICING AND INDEXING

In [31]:
s = "Namaste DinaRahmatika"
# print sub strings
print(s[1]) #This is indexing.
print(s[6:14]) #This is known as slicing.
print(s[-8:-1])

a
e DinaRa
ahmatik

In [33]:
# test substring membership
print("aRa" in s)

True

## BASIC BUILT IN STRING METHODS

In [10]:
s = "Hello World"
print(s.upper()) ## Convert all the element of the string to Upper case..!!
print(s.lower()) ## Convert all the element of the string to Lower case..!!
print(s[0:6].upper()+s[6:].lower()) ##Convert some element of string to upper and some more to lower

HELLO WORLD
hello world
HELLO world

### PRINT FORMATING

In [34]:
name = "Einstein"
age = 21
married = True

In [35]:
print("My name is %s, my age is %s, and it is %s that I am married" % (name, age, married))

My name is Einstein, my age is 21, and it is True that I am married

In [36]:
print("My name is {}, my age is {}, and it is {} that I am married".format(name, age, married))

My name is Einstein, my age is 21, and it is True that I am married

In [37]:
print('my name is', name, 'my age is', age, 'that i am married',married)

my name is Einstein my age is 21 that i am married True

# NUMBERS

## Basic Aritmathics

In [16]:
# Addition
print(2+1)

# Subtraction
print(2-1)

# Multiplication
print(2*2)

# Division
print(3/2)

3
1
4
1.5

In [19]:
# Powers
2**3

8

In [20]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [21]:
# Can use parenthesis to specify orders
(2+10) * (10+3)

156

## Variable Assigment

In [22]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [23]:
# Adding the objects
a+a

10

In [25]:
# Reassignment
a = 15
# Check
a

15

# KELAS SORE

# Data Type and Data Structures

## Identifying Data Type

In [1]:
a = 42
b = 32.30
print(type(a))#gets type of a
print(type(b))#gets type of b

<class 'int'>
<class 'float'>

## List

In [6]:
# Assign a list to an variable named my_list
my_list = ['A string',23,100.232,'o']
print(my_list, len(my_list))

['A string', 23, 100.232, 'o'] 4

### Adding Element to a List

In [7]:
# append a value to the end of the list
l = [1, 2.3, ['a', 'b'], 'New York']
l.append(3.1)
print(l)

[1, 2.3, ['a', 'b'], 'New York', 3.1]

In [8]:
# extend a list with another list. 
l = [1, 2, 3]
l.extend([4, 5, 6])
print(l)

[1, 2, 3, 4, 5, 6]

### Slicing

In [9]:
lst = list(range(10)) # create a list containing 10 numbers starting from 0 
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
print("elements from index 4 to 7:", lst[4:7])

elements from index 4 to 7: [4, 5, 6]

In [11]:
print("alternate elements, starting at index 0:", lst[0::2])
# prints elements from index 0 till last index with a step of 2

alternate elements, starting at index 0: [0, 2, 4, 6, 8]

In [12]:
print("every third element, starting at index 1:", lst[1::3]) 
# prints elements from index 1 till last index with a step of 3

every third element, starting at index 1: [1, 4, 7]

## Dictionaries

In [14]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [15]:
# Call values by their key
my_dict['key2']

'value2'

In [16]:
# Change the value for instant
my_dict['key1']=123
my_dict

{'key1': 123, 'key2': 'value2'}

In [17]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

#Check
my_dict['key1']

0

In [18]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

-123

In [19]:
# Create a new dictionary
d = {}
d

{}

In [20]:
# Create a new key through assignment
d['animal'] = 'Dog'
d

{'animal': 'Dog'}

## Set and Booleans

### Set

In [21]:
x = set()
x

set()

In [22]:
# We add to sets with the add() method
x.add(1)

#Show
x

{1}

In [23]:
# Add a different element
x.add(2)

#Show
x

{1, 2}

In [24]:
# Try to add the same element
x.add(1)

#Show
x

{1, 2}

In [26]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]
l

[1, 1, 2, 2, 3, 4, 5, 6, 1, 1]

In [27]:
# Cast as set to get unique values
set(l)

{1, 2, 3, 4, 5, 6}